/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Todo List Styles */
  ul {
    list-style-type: none;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
  
  li {
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  li span {
    flex-grow: 1;
    font-size: 16px;
    color: #444;
  }
  
  li span[style="text-decoration: line-through;"] {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Buttons */
  button {
    margin: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Delete Button */
  button:nth-child(2) {
    background-color: #e74c3c;
  }
  
  button:nth-child(2):hover {
    background-color: #c0392b;
  }
  
  /* Add Todo Form Styles */
  form {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    background-color: white;
  }
  
  input[type="submit"] {
    width: 18%;
    background-color: #27ae60;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2ecc71;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
  